<section class="loan-configuration">
    <section class="loan-configuration__logo">
        <img src="/assets/icons/icon-96x96.png" alt="loan-simulator-logo">
    </section>
    <mat-card appearance="outlined" [formGroup]="loanForm" (keyup.enter)="simulate()">
        <mat-card-header>
            <mat-card-title>{{ 'common.title' | transloco }}</mat-card-title>
            <mat-card-subtitle>{{ 'configuration.subtitle' | transloco }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="input-container">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'common.amount' | transloco }}</mat-label>
                    <input matInput placeholder="100000" formControlName="amount" autofocus>
                    <mat-icon matSuffix>attach_money</mat-icon>
                </mat-form-field>
            </div>
            <div class="input-container">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'common.rate' | transloco }}</mat-label>
                    <input matInput placeholder="2.5" formControlName="rate">
                    <mat-icon matSuffix>percent</mat-icon>
                </mat-form-field>
            </div>
            <div class="input-container">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'common.term' | transloco }}</mat-label>
                    <input matInput placeholder="300 (25 {{ 'common.years' | transloco }})" formControlName="term">
                    <mat-icon matSuffix>schedule</mat-icon>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" [disabled]="loanForm.valid ? null : true" (click)="simulate()">
                {{ 'configuration.action' | transloco }}
            </button>
        </mat-card-actions>
    </mat-card>
</section>
