
<section class="loan-simulation">
    <section class="loan-simulation__header">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Loan configuration</mat-card-title>
            </mat-card-header>
            <mat-card-content class="loan-simulation__information">
                <div class="information-item">
                    <label class="information-item__title">
                        Loan Amount
                    </label>
                    <span class="information-item__value">
                        {{ configuration.amount | number : '1.2' : 'es-ES' }}€
                    </span>
                </div>
                <div class="information-item">
                    <label class="information-item__title">
                        Annual Interest Rate (%)
                    </label>
                    <span class="information-item__value">
                        {{ configuration.rate | number : '1.2' : 'es-ES' }}%
                    </span>
                </div>
                <div class="information-item">
                    <label class="information-item__title">
                        Loan Term (years)
                    </label>
                    <span class="information-item__value">
                        {{ (configuration.term / 12)| number : '1.0-2' : 'es-ES' }}
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Loan Stats</mat-card-title>
            </mat-card-header>
            <mat-card-content class="loan-simulation__information">
                <div class="information-item">
                    <label class="information-item__title">
                        Monthly payment
                    </label>
                    <span class="information-item__value">
                        {{ information.monthly | number : '1.2' : 'es-ES' }}€
                    </span>
                </div>
                <div class="information-item">
                    <label class="information-item__title">
                        Total amount
                    </label>
                    <span class="information-item__value">
                        {{ information.total | number : '1.2' : 'es-ES' }}€
                    </span>
                </div>
                <div class="information-item">
                    <label class="information-item__title">
                        Interest
                    </label>
                    <span class="information-item__value">
                        {{ information.interest | number : '1.2' : 'es-ES' }}€
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Amortization</mat-card-title>
            </mat-card-header>
            <mat-card-content class="loan-simulation__information">
                <div class="information-item">
                    <label class="information-item__title">
                        Total Paid
                    </label>
                    <div class="information-item__container">
                        <span class="information-item__value">
                            {{ amortization.amount.value | number : '1.2' : 'es-ES' }}€
                        </span>
                        <span class="information-item__percent">
                            (-{{ amortization.amount.percent | number : '1.0-2' : 'es-ES' }}%)
                        </span>
                    </div>
                </div>
                <div class="information-item">
                    <label class="information-item__title">
                        Interest
                    </label>
                    <div class="information-item__container">
                        <span class="information-item__value">
                            {{ amortization.interest.value | number : '1.2' : 'es-ES' }}€
                        </span>
                        <span class="information-item__percent">
                            (-{{ amortization.interest.percent | number : '1.2-2' : 'es-ES' }}%)
                        </span>
                    </div>
                </div>
                <div class="information-item">
                    <label class="information-item__title">
                        Loan Term (years)
                    </label>
                    <div class="information-item__container">
                        <span class="information-item__value">
                            {{ (amortization.term.value / 12)| number : '1.0-2' : 'es-ES' }}
                            ({{  amortization.term.value }} Months)
                        </span>
                        <span class="information-item__percent">
                            ({{ amortization.term.percent | number : '1.2-2' : 'es-ES' }}%)
                        </span>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-mini-fab color="primary" (click)="addAmortization()">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </section>
    <section class="loan-simulation__content loan-visualization">
        <mat-card appearance="outlined" class="loan-visualization__amortizations">
            <mat-card-content>
                @for (amortization of amortizations ; track $index) {
                        <div class="loan-visualization__amortizations__item">
                            <span>
                                @if (amortization.recursive) {
                                    Every {{ amortization.when }} months amortize {{ amortization.amount | number : '1.2' : 'es-ES' }}€
                                } @else {
                                    On month {{ amortization.when }} amortize {{ amortization.amount | number : '1.2' : 'es-ES' }}€
                                }
                            </span>
                            <button mat-icon-button (click)="removeAmortization(amortization)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    <mat-divider></mat-divider>
                } @empty {
                    There are not amortizations
                }
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined" class="loan-visualization__graph">
            <mat-card-content class="loan-visualization__graph__container">
                <div #graph style="width: 100%;height: 100%;"></div>
            </mat-card-content>
        </mat-card>
    </section>
</section>