<mat-card [formGroup]="amortizationForm">
    <mat-card-header>
        <mat-card-title>{{ 'simulation.amortization' | transloco }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <section class="amortization-container">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'common.amount' | transloco }}</mat-label>
                <input matInput placeholder="500" formControlName="amount">
                <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ ('common.' + (recursive ? 'every' : 'when')) | transloco }}</mat-label>
                <input matInput placeholder="1" formControlName="when">
                <mat-icon matSuffix>schedule</mat-icon>
            </mat-form-field>
            <mat-slide-toggle formControlName="recursive">
                {{ 'common.recursive' | transloco }}
            </mat-slide-toggle>
        </section>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" [disabled]="amortizationForm.valid ? null : true" (click)="add()">
            {{ 'simulation.amortize' | transloco }}
        </button>
    </mat-card-actions>
</mat-card>